body {
  background-color: #fff;
}
h1 {
  color:#333;
}
p {
  border: 2px solid black;
  padding: 30px;
  margin: 50px;
}
ul{
 list-style-type: none;
 margin: 0;
 padding: 0;
 overflow: hidden;
 background-color: #333;
}

li{
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 14px;
}
li a:hover{
  background-color: #4CAF50;
}

.active {
  background-color: #4CAF50;
}
